@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #0b3e35;
}
.playfair-display {
  font-family: "Playfair Display", serif;
}
.shadow {
  box-shadow: 4px 4px 11px 0px #33443a52;
}
