@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.roboto-medium {
  font-weight: 500;
  color: #0b3e35;
}

.playfair-display {
  font-family: var(--font-playfair);
}

.shadow {
  box-shadow: 4px 4px 11px 0px #33443a52;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 4px; /* 2px-6px for a thin scrollbar */
  
}

.hide-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 9999px;
}

.hide-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}